*.__pycache__
*~
*.pyc
GSEM/myvenv/

GSEM/\.idea/

GSEM/GSEventManager/GSEventManager/__pycache__/

GSEM/GSEventManager/eventmanager/__pycache__/

GSEM/GSEventManager/db\.sqlite3

\.idea/

GSEM/GSEventManager/static

GSEM/GSEventManager/.DS_Store
