.page-header {
    background-color: #041e42;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 4px 4px 4px #aaa;
}

.date {
    color: #000000;
}

.save {
    float: right;
}

.event-form textarea, .event-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.event {
    margin-bottom: 30px;
    background: #5897fb;
}

.event h1 a, .event h1 a:visited {
    color: #000000;

}