{% load static %}
<html>

<head>
    <title>Georgia Southern Events</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Alfa+Slab+One&subset=latin,latin-ext" rel="stylesheet" type="text/css" >

    <link rel="stylesheet" href="{% static 'css/eventmanager.css' %}">



</head>

<body>
        <div class="page-header">


            {% if user.is_authenticated %}
             <div class="top-menu"  style="font-size:22px"> Hello {{ user.username }}, &nbsp;
             <a  style="font-size:22px" href="/logout/" class="top-menu">Logout &nbsp;<span class="glyphicon glyphicon-log-out" ></span></a>
             </div>

            {% if user.is_staff %}
            <a href="{% url 'event_new' %}" class="top-menu" title="Add new Event"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <!--<a href="/logout/" class="top-menu"> Logout <span class="glyphicon glyphicon-log-out"></span></a>-->
            {% else %}
            <a href="/login/" class="top-menu"> Login <span class="glyphicon glyphicon-log-in"></span></a>
            <a href="/signup/" class="top-menu"> Sign Up <span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}

            <h1><img src="/media/thumb-eagle.PNG" style="width:70px;height:70px;"><a href="/">Georgia Southern Events</a></h1>




            <form align="right" class="select2-search__field" action="{% url 'event_search' %}" method="get">
                <input class="form-row" type="search" name="q" placeholder="Search" aria-label="Search">
                <button type="submit" value="Search"> Search </button>
            </form>

        </div>


<div class="content">
    <div class="event">

            {% block content %}
            {% endblock %}


    </div>
</div>


</body>
</html>