{% load static %}
<html>

<head>
    <title>Georgia Southern Events</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Alfa+Slab+One&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/eventmanager.css' %}">
</head>

<body>
        <div class="page-header">
            <a href="{% url 'event_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Georgia Southern Events</a></h1>
        </div>


<div class="content">
    <div class="event">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>


</body>
</html>