{% load static %}
<html>

<head>
    <title>Georgia Southern Events</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/eventmanager.css' %}">
</head>

<body>
        <div class="page-header">
            <h1><a href="/">Event Manager</a></h1>
        </div>


<div class="content">
    <div class="event">
        <div class="col-md-8">
            {% for event in events %}
                <div class="event">
                    <div class="date">
                        <p>published: {{ event.created_date }}</p>
                    </div>
                    <h1><a href="">{{ event.event_name }}</a></h1>
                    <p>{{ event.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


</body>
</html>