{% extends 'eventmanager/base.html' %}

{% block content %}
    <div class="event">
        {% if event.published_date %}
        <div class="date">
            {{ event.published_date }}
        </div>
        {% endif %}

		{% if user.is_authenticated and user.is_staff %}
			<a class="btn btn-primary" href="{% url 'event_edit' pk=event.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}

		{% if user.is_authenticated %}
        	{% if attending %}
				<h3>You are attending this event</h3>
			{% else %}
			<a class="btn btn-primary" href="{% url 'attend_event' pk=event.pk %}" ><span label="Attend" class="glyphicon glyphicon-road"> RSVP</span></a>
			{% endif %}
        {% endif %}

		<h1>{{ event.event_name }}</h1>
		
		
    </div>


<p><h4>{{ event.text|linebreaksbr }}</h4></p>
<!--<div id="disqus_thread"></div>-->
<!--<script>-->

<!--/**-->
<!--*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
<!--*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/-->
<!--/*-->
<!--var disqus_config = function () {-->
<!--this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable-->
<!--this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
<!--};-->
<!--*/-->
<!--(function() { // DON'T EDIT BELOW THIS LINE-->
<!--var d = document, s = d.createElement('script');-->
<!--s.src = 'https://gsevents.disqus.com/embed.js';-->
<!--s.setAttribute('data-timestamp', +new Date());-->
<!--(d.head || d.body).appendChild(s);-->
<!--})();-->
<!--</script>-->
<!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->


<h2> Location</h2>
<h3>{{ event.event_place }}</h3>
	<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"> Share on Facebook |</a>

	<a href="https://twitter.com/home?status=You're%20Invited!%20{{request.build_absolute_uri}}"> Share on Twitter |</a>

	<a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'> Share on Google+ </a>

	
	<form method="POST" action="{% url 'publicationmanager:request_email' %}">
	{% csrf_token %}
	<input type="submit" name="Submit" value="Share via. Email">
	</form>
	
	<br>
	<hr>
	<a class="btn btn-default" href="{% url 'add_comment' pk=event.pk %}">Add comment</a>
    <hr>
	{% for comment in event.comments.all %}
		<div class="comment">
			<div class="date">{{ comment.timestamp }}</div>
			<strong>{{ comment.user }}</strong>
			<p>{{ comment.content|linebreaks }}</p>
		</div>
	{% empty %}
		<p>No comments here yet :(</p>
	{% endfor %}


{% endblock %}

